:root {
	--color-primary: #0e345a;
	--color-primary-300: #26486b;
	--color-primary-200: #879aad;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border: 1px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 9999px;
	background-color: #aaaaaa;
}

body {
	scrollbar-gutter: stable;
}

.body-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.body-container .nav-bar {
	box-shadow: 0px 1px 5px 0px var(--color-primary);
	background-color: var(--theme-bg-white);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 9999;
}

.body-container .nav-bar-logo {
	color: var(--color-primary);
}

.nav-bar-search {
	min-width: 20rem;
}
.nav-bar-search .input {
	border: 1px solid var(--color-primary);
}
.nav-bar-search .input:focus {
	outline: 1px solid var(--color-primary);
}

.nav-bar-links {
	color: var(--color-primary);
	display: flex;
	align-items: center;
}
.nav-bar-link {
	margin: 0 10px;
}
.nav-bar-link i {
	color: var(--color-primary);
	font-size: 1.5rem;
}
.nav-bar-link i:hover {
	transform: scale(1.2);
}
.nav-bar-link .btn {
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
}
.nav-bar-link .btn-secondary:hover {
	background-color: var(--color-primary);
	color: var(--theme-text-white);
}

.landing-page-banner-container {
	min-width: 100vw;
	/* padding: 0 1rem; */
}
.landing-page-banner-img {
	width: 100%;
	height: 30rem;
	object-fit: cover;
	object-position: 50% 50%;
}

.landing-page-text {
	position: absolute;
	top: 9rem;
	margin-left: 2rem;
}
.landing-page-text p {
	color: var(--theme-text-white);
	font-size: 4rem;
	line-height: 5rem;
}
.landing-page-text a {
	color: var(--color-primary);
	font-size: 1.5rem;
	line-height: 2rem;
}
.landing-page-text i {
	color: var(--color-primary);
	font-size: 1.2rem;
}
.landing-page-text-cta:hover {
	color: var(--theme-text-white);
}
.landing-page-text-cta:hover i {
	color: var(--theme-text-white);
}

.main-container {
	flex-grow: 1;
	border: 1px solid red;
}

.main-header {
	line-height: 5rem;
	font-size: 4rem;
	color: var(--color-primary);
}

.main-content {
	background-color: var(--color-primary);
	padding: 1rem 0;
}

.main-content-header {
	font-size: 3rem;
	line-height: 3rem;
	color: var(--theme-bg-white);
}

.main-content-list .card {
	padding: 5px;
	margin: 1rem 0;
}

.main-content-list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.card-set {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.main-content .card:hover {
	cursor: pointer;
}

.main-content-dash-container {
	display: flex;
	justify-content: center;
	margin: 1rem 0;
}
.main-content-dash {
	text-align: center;
	width: 4rem;
	height: 2px;
	background-color: var(--theme-text-white);
}

.main-content-text {
	font-size: 4rem;
	line-height: 5rem;
	color: var(--theme-bg-white);
	padding: 0 2rem;
}

.main-content .btn-secondary {
	border: 1px solid var(--theme-text-white);
	background-color: var(--color-primary);
	color: var(--theme-text-white);
}
.main-content .btn-secondary:hover {
	border: 1px solid var(--color-primary);
	background-color: var(--theme-text-white);
	color: var(--color-primary);
}

.main-header-author {
	line-height: 5rem;
	font-size: 3rem;
	color: var(--color-primary);
}

.author-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}

.card-author {
	max-width: 50rem;
}

.author-container .card {
	padding: 5px;
	background-color: inherit;
	box-shadow: none;
}

/* REMOVE LATER */
.bottom-nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-width: 100vw;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: var(--theme-bg-white);
}
